.edit-profilepage-container {
  min-height: 100vh;
}
.edit-profilepage-edit-profilepage {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.edit-profilepage-light1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.edit-profilepage-bars-status-bari-phone-light {
  top: 13px;
  left: 32.486717224121094px;
  width: 328.17462158203125px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-battery {
  top: 4.833333969116211px;
  left: 304.3465881347656px;
  width: 23.828039169311523px;
  height: 10.333333969116211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-border {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 10px;
  opacity: 0.35;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-cap {
  top: 3.1666667461395264px;
  left: 22.5px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-capacity {
  top: 1.5px;
  left: 1.5000001192092896px;
  width: 18px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-wifi {
  top: 4.3306732177734375px;
  left: 283.5132751464844px;
  width: 15px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-cellular-connection {
  top: 4.666667938232422px;
  left: 261.5132751464844px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-bars-status-bari-phonex-time-light {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-navbar {
  top: 738px;
  left: 0px;
  width: 375px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-rectangle9 {
  top: 8px;
  left: 0px;
  width: 375px;
  height: 66px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.edit-profilepage-light-portrait1 {
  top: 46px;
  left: 121px;
  width: 134px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.edit-profilepage-bars-home-indicatori-phone-light-portrait {
  top: 17.294116973876953px;
  left: 0px;
  width: 134px;
  height: 4.117647171020508px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-home-indicator {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-navbar1 {
  top: 15px;
  left: 15px;
  width: 345px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-homeicon {
  top: 1px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-homeicon1 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text02 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-home {
  top: 0px;
  left: 9px;
  width: 18px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-vector1 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-messagesicon {
  top: 1px;
  left: 184px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-messagesicon1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text04 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-chatting2 {
  top: 0px;
  left: 23px;
  width: 19px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-vector4 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-vector {
  top: 10.555529594421387px;
  left: 4.222119331359863px;
  width: 6px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-vector1 {
  top: 6.333410739898682px;
  left: 4.222119331359863px;
  width: 9px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-profileicon {
  top: 0px;
  left: 298px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-profileicon1 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text06 {
  top: 25px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-user {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 20.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-vector2 {
  top: 0px;
  left: 4px;
  width: 9px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-vector15 {
  top: 12.25px;
  left: 0px;
  width: 18px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-searchicon {
  top: 2px;
  left: 86px;
  width: 48px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text08 {
  top: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-searchicon1 {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-searchicon2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-search {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-vector3 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-vector4 {
  top: 15px;
  left: 15px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-line8 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-profileimage {
  top: 84px;
  left: 115px;
  width: 144.79869079589844px;
  height: 144.79869079589844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-purple {
  top: 0px;
  left: 53px;
  width: 106px;
  height: 106px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 36px;
}
.edit-profilepage-white {
  top: 19.39935302734375px;
  left: 22.3994140625px;
  width: 100px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 36px;
}
.edit-profilepage-camera1 {
  top: 56.39935302734375px;
  left: 56.3994140625px;
  width: 33px;
  height: 27px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.edit-profilepage-page1 {
  top: 0.0650634765625px;
  left: 0px;
  width: 32.98432159423828px;
  height: 26.934940338134766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-profile {
  top: 0px;
  left: 0px;
  width: 32.98432159423828px;
  height: 26.934940338134766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-profile-image1 {
  top: 0px;
  left: 0px;
  width: 32.98432159423828px;
  height: 26.934940338134766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-camera {
  top: 0px;
  left: 0px;
  width: 32.98432159423828px;
  height: 26.934940338134766px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-shape {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-shape1 {
  top: 6.99397611618042px;
  left: 8.779097557067871px;
  width: 15px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-oval {
  top: 6.9614458084106445px;
  left: 26.117813110351562px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-profile1 {
  top: 60px;
  left: 24px;
  width: 129px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-vector5 {
  top: 5px;
  left: 1.7887320780118898e-7px;
  width: 15px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
}
.edit-profilepage-text10 {
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-fullnamebutton {
  top: 236.7987060546875px;
  left: 24px;
  width: 314px;
  height: 86px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-rectangle3 {
  top: 36px;
  left: 0px;
  width: 314px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 8px;
}
.edit-profilepage-fullname {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-aboutmebutton {
  top: 424.7987060546875px;
  left: 24px;
  width: 314px;
  height: 99.2012939453125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-rectangle31 {
  top: 36.2012939453125px;
  left: 0px;
  width: 314px;
  height: 63px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 8px;
}
.edit-profilepage-aboutme {
  top: 0px;
  left: 0px;
  width: 76px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-interestsbutton {
  top: 532px;
  left: 24px;
  width: 314px;
  height: 86px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-rectangle32 {
  top: 36px;
  left: 0px;
  width: 314px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 8px;
}
.edit-profilepage-interests {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-dateofbirthbutton {
  top: 330.7987060546875px;
  left: 24px;
  width: 314px;
  height: 86px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-rectangle33 {
  top: 36px;
  left: 0px;
  width: 314px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.2000000476837158px;
  border-radius: 8px;
}
.edit-profilepage-dateofbirth {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.edit-profilepage-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-text20 {
  top: 46px;
  left: 9px;
  color: rgba(168, 159, 159, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.edit-profilepage-savebutton {
  top: 642px;
  left: 26px;
  width: 324px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(152, 19, 214, 1);
}
.edit-profilepage-text22 {
  top: 7px;
  left: 137px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
