.homepage2-container {
  min-height: 100vh;
}
.homepage2-homepage2 {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.homepage2-rectangle6 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 156px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.homepage2-light1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.homepage2-bars-status-bari-phone-light {
  top: 13px;
  left: 32.486717224121094px;
  width: 328.17462158203125px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-battery {
  top: 4.833333969116211px;
  left: 304.3465881347656px;
  width: 23.828039169311523px;
  height: 10.333333969116211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-border {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 10px;
  opacity: 0.35;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-cap {
  top: 3.1666667461395264px;
  left: 22.5px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-capacity {
  top: 1.5px;
  left: 1.5000001192092896px;
  width: 18px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-wifi {
  top: 4.3306732177734375px;
  left: 283.5132751464844px;
  width: 15px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-cellular-connection {
  top: 4.666667938232422px;
  left: 261.5132751464844px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-bars-status-bari-phonex-time-light {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-menubars {
  top: 50px;
  left: 20px;
  width: 339px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector {
  top: 10px;
  left: 0px;
  width: 18px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-roomielogo {
  top: 0px;
  left: 120px;
  width: 98.66847229003906px;
  height: 35px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-o {
  top: 8.807129859924316px;
  left: 17.02710723876953px;
  width: 33.46709060668945px;
  height: 17.6142578125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-ellipse13 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.homepage2-ellipse14 {
  top: 0.0000012575878827192355px;
  left: 14.091459274291992px;
  width: 19px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.homepage2-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 23.485675811767578px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-text03 {
  left: 51.66847610473633px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 23.485675811767578px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-text05 {
  top: 4px;
  left: 298px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-choiceofsearchbuttons {
  top: 101px;
  left: 13px;
  width: 350px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-findaroomie {
  top: 0px;
  left: 0px;
  width: 169px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.homepage2-text07 {
  top: 4px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-getaroom {
  top: 0px;
  left: 181px;
  width: 169px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(152, 19, 214, 1);
}
.homepage2-text09 {
  top: 4px;
  left: 36px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-roomlisting1 {
  top: 180px;
  left: 25px;
  width: 326px;
  height: 213px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-rectangle15 {
  top: 0px;
  left: 0px;
  width: 326px;
  height: 139px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px;
}
.homepage2-rectangle16 {
  top: 75px;
  left: 205px;
  width: 121px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
}
.homepage2-text11 {
  top: 77px;
  left: 215px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-text12 {
  font-weight: 600;
}
.homepage2-text14 {
  top: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-location {
  top: 195px;
  left: 0px;
  width: 82px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector01 {
  top: 2px;
  left: 0px;
  width: 11px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-text19 {
  left: 19px;
  color: rgba(168, 159, 159, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-chatting2 {
  top: 150px;
  left: 304px;
  width: 21.5px;
  height: 21.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector4 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector02 {
  top: 11.944429397583008px;
  left: 4.777647495269775px;
  width: 7px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector03 {
  top: 7.166747093200684px;
  left: 4.777647495269775px;
  width: 10px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-roomlisting2 {
  top: 409px;
  left: 25px;
  width: 326px;
  height: 213px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-rectangle151 {
  top: 0px;
  left: 0px;
  width: 326px;
  height: 139px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px;
}
.homepage2-rectangle161 {
  top: 75px;
  left: 205px;
  width: 121px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
}
.homepage2-text21 {
  top: 77px;
  left: 215px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-text22 {
  font-weight: 600;
}
.homepage2-text24 {
  top: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-location1 {
  top: 195px;
  left: 0px;
  width: 81px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector04 {
  top: 2px;
  left: 0px;
  width: 11px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-text29 {
  left: 19px;
  color: rgba(168, 159, 159, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-chatting21 {
  top: 150px;
  left: 304px;
  width: 21.5px;
  height: 21.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector41 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector05 {
  top: 11.944429397583008px;
  left: 4.777647495269775px;
  width: 7px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector06 {
  top: 7.166747093200684px;
  left: 4.777647495269775px;
  width: 10px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-roomlisting3 {
  top: 638px;
  left: 25px;
  width: 326px;
  height: 213px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-rectangle152 {
  top: 0px;
  left: 0px;
  width: 326px;
  height: 139px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px;
}
.homepage2-rectangle162 {
  top: 75px;
  left: 205px;
  width: 121px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
}
.homepage2-text31 {
  top: 77px;
  left: 215px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-text32 {
  font-weight: 600;
}
.homepage2-text34 {
  top: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-location2 {
  top: 195px;
  left: 0px;
  width: 82px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text39 {
  left: 19px;
  color: rgba(168, 159, 159, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-chatting22 {
  top: 150px;
  left: 304px;
  width: 21.5px;
  height: 21.5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector42 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector07 {
  top: 11.944429397583008px;
  left: 4.777647495269775px;
  width: 7px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector08 {
  top: 7.166747093200684px;
  left: 4.777647495269775px;
  width: 10px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-navbar {
  top: 738px;
  left: 0px;
  width: 375px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.homepage2-light-portrait1 {
  top: 46px;
  left: 121px;
  width: 134px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.homepage2-bars-home-indicatori-phone-light-portrait {
  top: 17.294116973876953px;
  left: 0px;
  width: 134px;
  height: 4.117647171020508px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-home-indicator {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-navbar1 {
  top: 15px;
  left: 15px;
  width: 345px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-homeicon {
  top: 1px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-homeicon1 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text41 {
  top: 24px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-home {
  top: 0px;
  left: 9px;
  width: 18px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector1 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-messagesicon {
  top: 1px;
  left: 184px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-messagesicon1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text43 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-chatting23 {
  top: 0px;
  left: 23px;
  width: 19px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector43 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector09 {
  top: 10.555529594421387px;
  left: 4.222119331359863px;
  width: 6px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector10 {
  top: 6.333410739898682px;
  left: 4.222119331359863px;
  width: 9px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-profileicon {
  top: 0px;
  left: 298px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-profileicon1 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text45 {
  top: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-user {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 20.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector11 {
  top: 0px;
  left: 4px;
  width: 9px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector15 {
  top: 12.25px;
  left: 0px;
  width: 18px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-searchicon {
  top: 2px;
  left: 86px;
  width: 48px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-text47 {
  top: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage2-searchicon1 {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-searchicon2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-search {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepage2-vector12 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-vector13 {
  top: 15px;
  left: 15px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.homepage2-line8 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
