.map-findaroom-container {
  min-height: 100vh;
}
.map-findaroom-map-findaroom {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.map-findaroom-mapsicle-map {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 812px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.map-findaroom-navbar {
  top: 738px;
  left: 0px;
  width: 375px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.map-findaroom-light-portrait1 {
  top: 46px;
  left: 121px;
  width: 134px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.map-findaroom-bars-home-indicatori-phone-light-portrait {
  top: 17.294116973876953px;
  left: 0px;
  width: 134px;
  height: 4.117647171020508px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-home-indicator {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-navbar1 {
  top: 15px;
  left: 15px;
  width: 345px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-homeicon {
  top: 1px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-homeicon1 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-text {
  top: 24px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-home {
  top: 0px;
  left: 9px;
  width: 18px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-vector1 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-messagesicon {
  top: 1px;
  left: 184px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-messagesicon1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-text02 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-chatting2 {
  top: 0px;
  left: 23px;
  width: 19px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-vector4 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-vector {
  top: 10.555529594421387px;
  left: 4.222119331359863px;
  width: 6px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-vector1 {
  top: 6.333410739898682px;
  left: 4.222119331359863px;
  width: 9px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-profileicon {
  top: 0px;
  left: 298px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-profileicon1 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-text04 {
  top: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-user {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 20.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-vector2 {
  top: 0px;
  left: 4px;
  width: 9px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-vector15 {
  top: 12.25px;
  left: 0px;
  width: 18px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-searchicon {
  top: 2px;
  left: 86px;
  width: 48px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-text06 {
  top: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-searchicon1 {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-searchicon2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-search {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-vector3 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-vector4 {
  top: 15px;
  left: 15px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-line8 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-choiceofsearchbuttons {
  top: 101px;
  left: 13px;
  width: 350px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-findaroomie {
  top: 0px;
  left: 0px;
  width: 169px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.map-findaroom-text08 {
  top: 4px;
  left: 29px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-getaroom {
  top: 0px;
  left: 181px;
  width: 169px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(152, 19, 214, 1);
}
.map-findaroom-text10 {
  top: 4px;
  left: 36px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-menubars {
  top: 50px;
  left: 21px;
  width: 333px;
  height: 27px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-vector5 {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text12 {
  left: 298px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-light1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.map-findaroom-bars-status-bari-phone-light {
  top: 13px;
  left: 32.486717224121094px;
  width: 328.17462158203125px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-battery {
  top: 4.833333969116211px;
  left: 304.3465881347656px;
  width: 23.828039169311523px;
  height: 10.333333969116211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-border {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 10px;
  opacity: 0.35;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-cap {
  top: 3.1666667461395264px;
  left: 22.5px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-capacity {
  top: 1.5px;
  left: 1.5000001192092896px;
  width: 18px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-wifi {
  top: 4.3306732177734375px;
  left: 283.5132751464844px;
  width: 15px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-cellular-connection {
  top: 4.666667938232422px;
  left: 261.5132751464844px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-bars-status-bari-phonex-time-light {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-roomlocationmappointer {
  top: 165px;
  left: 10px;
  width: 348px;
  height: 382px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-locationpointer {
  top: 70px;
  left: 14px;
  width: 318px;
  height: 312px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-ellipse10 {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 312px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(152, 19, 214, 1);
  border-style: solid;
  border-width: 2px;
}
.map-findaroom-locationpointer1 {
  top: 131px;
  left: 134px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-ellipse12 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.map-findaroom-ellipse11 {
  top: 11px;
  left: 12px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.map-findaroom-roomlocationlist {
  top: 0px;
  left: 0px;
  width: 348px;
  height: 353px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-roomlocation1 {
  top: 103px;
  left: 82px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle26 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon2 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text16 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text17 {
  font-weight: 600;
}
.map-findaroom-roomlocation2 {
  top: 171px;
  left: 23px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle261 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon21 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text19 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text20 {
  font-weight: 600;
}
.map-findaroom-roomlocation3 {
  top: 241px;
  left: 0px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle262 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon22 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text22 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text23 {
  font-weight: 600;
}
.map-findaroom-roomlocation4 {
  top: 155px;
  left: 183px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle263 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon23 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text25 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text26 {
  font-weight: 600;
}
.map-findaroom-roomlocation5 {
  top: 309px;
  left: 88px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle264 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon24 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text28 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text29 {
  font-weight: 600;
}
.map-findaroom-roomlocation6 {
  top: 241px;
  left: 199px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle265 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon25 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text31 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text32 {
  font-weight: 600;
}
.map-findaroom-roomlocation7 {
  top: 0px;
  left: 20px;
  width: 149px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.map-findaroom-rectangle266 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 7px;
}
.map-findaroom-polygon26 {
  top: 44px;
  left: 60px;
  width: 29px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.map-findaroom-text34 {
  top: 4px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.map-findaroom-text35 {
  font-weight: 600;
}
