.profilepage-container {
  min-height: 100vh;
}
.profilepage-profilepage {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
}
.profilepage-light1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.profilepage-bars-status-bari-phone-light {
  top: 13px;
  left: 32.486717224121094px;
  width: 328.17462158203125px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-battery {
  top: 4.833333969116211px;
  left: 304.3465881347656px;
  width: 23.828039169311523px;
  height: 10.333333969116211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-border {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 10px;
  opacity: 0.35;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-cap {
  top: 3.1666667461395264px;
  left: 22.5px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-capacity {
  top: 1.5px;
  left: 1.5000001192092896px;
  width: 18px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-wifi {
  top: 4.3306732177734375px;
  left: 283.5132751464844px;
  width: 15px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-cellular-connection {
  top: 4.666667938232422px;
  left: 261.5132751464844px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-bars-status-bari-phonex-time-light {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-navbar {
  top: 738px;
  left: 0px;
  width: 375px;
  height: 74px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-rectangle9 {
  top: 8px;
  left: 0px;
  width: 375px;
  height: 66px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.profilepage-light-portrait1 {
  top: 46px;
  left: 121px;
  width: 134px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.profilepage-bars-home-indicatori-phone-light-portrait {
  top: 17.294116973876953px;
  left: 0px;
  width: 134px;
  height: 4.117647171020508px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-home-indicator {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-navbar1 {
  top: 15px;
  left: 15px;
  width: 345px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-homeicon {
  top: 1px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-homeicon1 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text02 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-home {
  top: 0px;
  left: 9px;
  width: 18px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector1 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-messagesicon {
  top: 1px;
  left: 184px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-messagesicon1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text04 {
  top: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-chatting2 {
  top: 0px;
  left: 23px;
  width: 19px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector4 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector {
  top: 10.555529594421387px;
  left: 4.222119331359863px;
  width: 6px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector01 {
  top: 6.333410739898682px;
  left: 4.222119331359863px;
  width: 9px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-profileicon {
  top: 0px;
  left: 298px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-profileicon1 {
  top: 0px;
  left: 0px;
  width: 47px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text06 {
  top: 25px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-user {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 20.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector02 {
  top: 0px;
  left: 4px;
  width: 9px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector15 {
  top: 12.25px;
  left: 0px;
  width: 18px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-searchicon {
  top: 2px;
  left: 86px;
  width: 48px;
  height: 41px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text08 {
  top: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-searchicon1 {
  top: 0px;
  left: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-searchicon2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-search {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector03 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector04 {
  top: 15px;
  left: 15px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-line8 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-profile {
  top: 60px;
  left: 24px;
  width: 92px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector05 {
  top: 5px;
  left: 1.7887320780118898e-7px;
  width: 15px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-text10 {
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-text12 {
  top: 396px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profilepage-aboutme1 {
  top: 442px;
  left: 25px;
  width: 326.0710144042969px;
  height: 199px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-rectangle13 {
  top: 0px;
  left: 0px;
  width: 326px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 10px;
}
.profilepage-interests {
  top: 119px;
  left: 0px;
  width: 326.0710144042969px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.profilepage-text14 {
  top: 7px;
  left: 9.28955078125px;
  color: rgba(0, 0, 0, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-text15 {
  font-weight: 500;
}
.profilepage-vector06 {
  top: 31px;
  left: 289.8408203125px;
  width: 17px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-aboutme {
  top: 7px;
  left: 9.21875px;
  width: 297.81915283203125px;
  height: 88px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-text20 {
  color: rgba(0, 0, 0, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-vector07 {
  top: 35px;
  left: 280.55126953125px;
  width: 17px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-ellipse5 {
  top: 124px;
  left: 24px;
  width: 94px;
  height: 94px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.profilepage-text22 {
  top: 272px;
  left: 322px;
  color: rgba(152, 19, 214, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profilepage-text24 {
  top: 234px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.profilepage-profileinfo {
  top: 272px;
  left: 24px;
  width: 261px;
  height: 116.06304931640625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-gender {
  top: 31px;
  left: 0px;
  width: 53px;
  height: 23.063037872314453px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector08 {
  top: 7px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-text26 {
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-location {
  top: 0px;
  left: 0px;
  width: 261px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-location1 {
  top: 5px;
  left: 0px;
  width: 15px;
  height: 19.6875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector09 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector10 {
  top: 4.6875px;
  left: 4.6875px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-text28 {
  left: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-job {
  top: 55.06304931640625px;
  left: 0px;
  width: 161px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector11 {
  top: 7px;
  left: 0px;
  width: 14px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-text30 {
  left: 22px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.profilepage-age {
  top: 86.06304931640625px;
  left: 0px;
  width: 72.5556640625px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-user1 {
  top: 7px;
  left: 0px;
  width: 13.55555534362793px;
  height: 15.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.profilepage-vector12 {
  top: 0px;
  left: 3.01218581199646px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-vector151 {
  top: 9.22530460357666px;
  left: 0px;
  width: 14px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}
.profilepage-text32 {
  left: 21.5556640625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
